﻿.button
{
    display: inline-block !important;
    border-top: 1px solid #96d1f8 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7)); /* Safari, Chrome */
    background: -moz-linear-gradient(top, #3e779d, #65a9d7); /* Mozilla */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3e779d', EndColorStr='#65a9d7' ); /* IE6, IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3e779d', EndColorStr='#65a9d7')"; /* IE8 */
    padding: 3px 15px;
    border-radius: 5px; /* Opera */
    -moz-border-radius: 5px; /* Mozilla */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -ms-border-radius: 5px; /* Future IE */
    box-shadow: rgba(0,0,0,1) 0 1px 0; /* Opera */
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0; /* Mozilla */
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0; /* Safari, Chrome */
    color: white !important;
    font-size: 11px;
    font-family: Verdana;
    text-decoration: none;
    margin: 0.5px;
    font-weight: bold !important;
}
.button:hover
{
    border-top-color: #4981a7;
    background: #4981a7;
    color: white; /*#ccc;*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3e779d', EndColorStr='#3e779d')"; /* IE8 */
}
.button:active
{
    border-top-color: #1b435e;
    background: #1b435e;
}

.buttonComp
{
    color: #98999C !important;
    font-weight: bold !important;
}
.buttonComp:hover
{
    color: black;
    font-weight: bold;
}

/*
    Erwin Wibowo Harjono
    26.03.2012
    Style for button inside form
*/
.btnFormContainer
{
    display: inline;
    float: right; 
    /*position: fixed;     top: 15px;     left: 0px;     width: 100%;     padding: 5px 10px;     height: 20px;     line-height: 20px;     vertical-align: middle;     z-index: 1000; */
}

.btnForm
{
    padding-bottom: 20px;
    clear: both;
    color: #333;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 1px 20px;
    position: relative;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #F5ED84;
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    min-width: 13em;
}
.btnForm:hover
{
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btnForm:active
{
    color: #000;
    border-color: #444;
}
