﻿/*
    Created By  : Erwin Wibowo Harjono
    Date        : 16 July 2010
    Purpose     : to modifying the visual look of New Confins AM_Main's page
    Notes       : Not yet tested on Internet Explorer
*/
/*
    Update :
    19 July 2010: Creating Error List
    1 September 2010: fixing table form css
*/
/*
    Update:
    17 Maret 2011: Creating Style for mandatory sign
*/

/*
    Update:
    8 Desember 2011: Merubah tampilan subsection
*/

@import "NC_Toolbar.css";
@import "NC_TextBox.css";
@import "NC_Dropdownlist.css";
@import "NC_Table.css";
@import "NC_Button.css";
@import "NC_Grid.css";
@import "NC_Tooltips.css";
*
{
    font-family: Verdana;
    font-size: 11px;
}
html
{
    /*overflow-x:hidden;*/
}
body
{
    height: 100%;
}
.liButton a
{
    margin: 0 5px;
    float: right;
}
#content
{
    position: absolute;
    top: 45px;
    width: 99%;
}
#content a
{
    text-decoration: none;
}
.subSection
{
    font-size: 12px;
    font-weight: bolder; /*border-bottom: 1px solid gray;*/
    width: 100%;
    margin: 0 auto;
    margin: 3px 0;
    padding: 2px 0;
    line-height: 25px;
    border-bottom: 2px solid #FFCC00;
    height: 20px;
}
.subSection a
{
    padding: 0;
    text-decoration: none;
    color: Black;
}
.subSection .adSimLink
{
    float: right;
    color: Gray;
}
.subSection .adSimLink:hover
{
    color: #06799F;
    text-decoration: underline;
    font-weight: bold;
}
.subtitle
{
    border-bottom: 1px dotted black !important;
}
.datePicker
{
    height: 13px;
    width: 100px;
    font-family: Verdana;
    font-size: 11px;
    border: 1px solid gray;
    color: #4F4F4F;
}
#unauthorizedContainer
{
    margin-top: 20px;
    text-align: center;
    color: Red;
    font-weight: bold;
}
#unauthorizedContainer .unauthorizedText
{
    font-size: x-large;
}

.mandatoryStyle
{
    color: Red;
    font-weight: bold;
}

/*
    Date        :   December 08th 2011
    Update By   :   Erwin Wibowo Harjono
    Notes       :   Adding CSS for Tab Button and Container
*/

.tabContainer
{
    border-bottom: 2px solid #A3ABAD;
}

.tabContainer a
{
    text-decoration: none;
    display: inline-block;
    min-width: 65px;
    margin-right: 5px;
}

.tabContainer .tabEnabled
{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
    border-bottom: 5px solid #C94444;
    font-weight: bold;
    color: #226075; /*657F87;*/
}

.tabContainer .tabDisabled
{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 7px;
    border-bottom: 3px solid #A3ABAD;
    color: #A3ABAD;
}

.tabContainer .tabDisabled:hover
{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 6px;
    border-bottom: 4px solid #657F87;
    color: #657F87;
}

.tabContainer .tabDisabledLink
{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 7px;
    border-bottom: 3px solid #E0DEDF;
    color: #A3ABAD;
}

.tabContainer .tabAlert
{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
    border-bottom: 7px double #C94444;
    font-weight: bold;
    color: #C94444;
    text-decoration: blink;
}

.tabContainer .tabAlert:hover
{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 4px;
    border-bottom: 6px double #657F87;
    color: #657F87;
}

.tabContainer .tabAlertLink
{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 7px;
    border-bottom: 3px solid #E0DEDF;
    color: #A3ABAD;
}

.sla
{
    height: 14px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    width: 14px;
    border-radius: 7px;
}

.dCustStatusGood
{
    background-color: Green;
    height: 14px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    width: 14px;
    border-radius: 7px;
}

.dCustStatusWarning
{
    background-color: Yellow;
    height: 14px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    width: 14px;
    border-radius: 7px;
}

.dCustStatusBad
{
    background-color: Red;
    height: 14px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    width: 14px;
    border-radius: 7px;
}

.FixPosition
{
    position: absolute;
}


