﻿/*
    Creator : Erwin Wibowo Harjono
    Date    : 15 July 2010
    Purpose : To modifying the visual look of New Confins Gridview's
    Notes   : 
*/
.mGrid
{
    width: 98%;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid #c1c1c1;
    border-top: 0;
    border-collapse: collapse;
}
.mGrid td
{
    border: 1px solid #c1c1c1;
    color: #4F4F4F;
    padding: 3px 5px;
}
.mGrid td input[type="image"]
{
    border-left: 1px inset #e6e8e8;
    padding: 0 2px;
}
.mGrid td input[type="image"]:first-child
{
    border: 0;
}
.mGrid th
{
    color: #ffffff;
    background: #655E6E; /*background-image: -moz-linear-gradient(100% 80% 90deg, #024E68, #06799F);     background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#06799F), to(#024E68));     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#024E68, endColorstr=#06799F)"; /*Internet Explorer 8*/
    border: solid 1px #c1c1c1;
    height: 30px;
    font-size: 0.9em;
}
.mGrid tr:hover
{
    background-color: #F5ED84;
}
.mGrid tr a
{
    color: Blue;
    text-decoration: none;
}
.mGrid th a
{
    color: #fff;
    text-decoration: none;
}
.mGrid th a:hover
{
    color: Yellow;
}
.mGrid .alt
{
    background-color: #E6F0F2;
}
.pager
{
    width: 98%;
    background: #655E6E; /*background-image: -moz-linear-gradient(100% 80% 90deg, #024E68, #06799F);     background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#06799F), to(#024E68));     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#024E68, endColorstr=#06799F)"; /*Internet Explorer 8*/
    color: White;
    margin: 0 auto;
    font-family: Verdana;
    font-size: 11px;
    border: 1px solid #c1c1c1;
    position: relative;
    padding: 0;
    height: 22px;
    border-collapse: collapse;
}
.pager a
{
    font-size: 15px;
    padding: 0 5px;
    font-weight: bold !important;
    color: White !important;
    text-decoration: none;
    vertical-align: bottom;
    line-height: 20px;
}
.pager a:last-child
{
    font-size: 11px;
}
.pager a:hover
{
    color: #F5ED84;
}
.gridHeaderTitle
{
    color: White;
}
.pager .rightLink
{
    float: right;
}

