﻿/*
    Created By  : Erwin Wibowo Harjono
    Date        : March 07 2011
    Purpose     : to modifying the visual look of New Confins's controls
    Notes       : Not yet tested on Internet Explorer
*/

/*
    Update      : December 08th 2011
    Update by   : Erwin Wibowo Harjono
    Log         : Create new appearance in Table 
*/

/*
    Update      : January 20th 2014
    Update by   : Eko Liangdita Cietra
    Log         : menghilangkan settingan height // untuk kebutuhan form config agar jika control di dlm table di hide tidak ada baris kosong
*/

.formTable
{
    border-spacing: 0;
    margin: 0 auto; /*padding: 0;*/
    width: 100%;
}

.formTable tr td
{

    word-wrap: break-word;
    border: 0;
    padding: 0 5px;
   border-bottom: 1px solid #EAE8ED !important;
   empty-cells:hide;
    /*height: 24px;*/ /*dikomen dulu, biar kalau isinya di hide ga menampilkan baris kosong - Cietra*/
    margin: 2px 0 !important; /*border-left: 3px solid #94BAE7; border: 0px inset #FFF;     border-bottom: 1px inset #E8E8E8;     height: 25px;     margin: 0;     padding: 0; padding-left: 5px;*/

}

.formTable tr td:first-child
{
    /*padding: 0 5px;     border: 0;     border-bottom: 1px inset #EAE8ED; border: 0px inset #FFF;     border-bottom: 1px inset #E8E8E8;     height: 25px;     margin: 0;     padding: 0; padding-left: 5px;*/
}

.tdDesc
{
    
    line-height: 24px; /*background-color: #CCCCCC; background-color: #E6F0F2; /* #ADF4F7;      background-image: -moz-linear-gradient(left center, #FFFFFF 20%, #E6F0F2 100%);     background-image: -webkit-gradient(linear,left top,right top,color-stop(0.2, #FFFFFF),color-stop(1, #E6F0F2));*/
}
.tdValue
{
    /* padding: 0 5px;  background-color: #E6F0F2; /* #ADF4F7; */ /* background-image: -webkit-gradient(linear,right top,left top,color-stop(0.2, #FFFFFF),color-stop(1, #E6F0F2));     background-image: -moz-linear-gradient(right center,#FFFFFF 20%,#E6F0F2 100% ); */
}

.formTable tr td:first-child
{
    /*padding: 0 5px;     border: 0;     border-bottom: 1px inset #EAE8ED; border: 0px inset #FFF;     border-bottom: 1px inset #E8E8E8;     height: 25px;     margin: 0;     padding: 0; padding-left: 5px;*/
}

/*.formTable
{
    margin: 0 auto;
    width: 98%;
}
.formTable tr td
{
    border: 0px inset #FFF;
    border-bottom: 1px inset #E8E8E8;
    height: 25px;
    padding-left: 5px;
}
.tdDesc
{
    background-color: #E6F0F2; /* #ADF4F7;      background-image: -moz-linear-gradient(left center, #FFFFFF 20%, #E6F0F2 100%);     background-image: -webkit-gradient(linear,left top,right top,color-stop(0.2, #FFFFFF),color-stop(1, #E6F0F2));
}
.tdValue
{
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6F0F2, endColorstr=#FFFFFF, GradientType=1)";
    background-image: -webkit-gradient(linear,right top,left top,color-stop(0.2, #FFFFFF),color-stop(1, #E6F0F2));
    background-image: -moz-linear-gradient(right center,#FFFFFF 20%,#E6F0F2 100% );
}
*/
