﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Report_Rekon_JMFI_POS.aspx.cs" Inherits="MPMFInternalR2.Web.ReportPages.Report_JMFI_POS.Report_Rekon_JMFI_POS" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: 'dd/mm/yy'
            });
        });
    </script>


    <%--<script type="text/javascript">
        $(function DtTimeDiff() {
            var startDate = new Date(document.getElementById('dtStart').value);
            var endDate = new Date(document.getElementById('dtEnd').value);

            var monthsDiff = endDate.getMonth() - startDate.getMonth();
            var durationLimit = 0;
            for (i = 1; i <= monthsDiff; i++) {
                durationLimit += new Date(startDate.getFullYear(), startDate.getMonth() + i, 0).getDate();
            }

            var timeDiff = endDate.getTime() - startDate.getTime();
            var daysDiff = Math.floor(timeDiff / (1000 * 60 * 60 * 24));

            if (daysDiff > durationLimit) {
                args.IsValid = false;
            } else {
                args.IsValid = true;
            }
        });
    </script>--%>

   <%-- <script type="text/javascript">
        $(function () {
           $('#<%= dtStart.ClientID%>').datepicker({
               numberOfMonths: 1,
               //dateFormat:"dd/mm/yy",
                minDate: 0,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() + 1);
                    $('#<%= dtEnd.ClientID%>').datepicker("option", "minDate", dt);
                }
            });
            $('#<%= dtEnd.ClientID%>').datepicker({
                numberOfMonths: 1,
                //dateFormat:"dd/mm/yy",
                maxDate: "+6m",
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() - 1);
                    $('#<%= dtStart.ClientID%>').datepicker("option", "maxDate", dt);
                }
            });
        });
    </script>--%>

</head>
<body>
    <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePartialRendering="False">
    </asp:ScriptManager>
    <form id="form1" runat="server">
        <div>
            <asp:UpdatePanel runat="server" ID="upPath" UpdateMode="Conditional">
                <ContentTemplate>
                    <div id="linkPath">
                        <asp:Label runat="server" ID="lblPath" Text="Rekon JMFI POS"></asp:Label>
                    </div>
                </ContentTemplate>
            </asp:UpdatePanel>
            <asp:UpdatePanel runat="server" ID="upToolbar" UpdateMode="Conditional">
                <ContentTemplate>
                    <div id="toolbar">
                        <span>
                            <label id="pageTitle">Report_Rekon_JMFI_POS </label>
                        </span>
                        <span id="toolMenuContainer"></span>
                    </div>
                </ContentTemplate>
            </asp:UpdatePanel>
            <br />
            <br />
            <br />
        </div>

        <div id="dPDCReceive">

            <div class="subSection">
                <a href="javascript:ExpandUnexpandMenu('minSearchForm','dSearchForm', 'ucReportSearch_UCSubSectionContainer1_subSectionID')" id="minSearchForm" style="color: rgb(0, 0, 0);">[-]</a>
                <span id="ucReportSearch_UCSubSectionContainer1_subSectionID" style="color: rgb(0, 0, 0);">Search</span>
            </div>
            <div id="dSearchForm">
                <table id="ucReportSearch_tblFixedSearch" class="formTable">
                    <tr>
                        <td class="tdDesc" style="width: 20%;">Cabang</td>
                        <td class="tdValue" style="width: 30%;">
                            <asp:DropDownList ID="ddlbranch" runat="server">
                            </asp:DropDownList>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdDesc" style="width: 20%;">Periode</td>
                        <td class="tdValue" style="width: 30%;">
                            <%--<asp:TextBox runat="server" AutoCompleteType="Enabled" ID="dtStart" CssClass="datepicker"></asp:TextBox>--%>
                            <asp:TextBox runat="server" AutoCompleteType="Disabled" ID="dtStart" CssClass="datepicker"></asp:TextBox>
                        </td>
                        <td class="tdDesc" style="width: 10%;">as Of</td>
                        <td class="tdValue" style="width: 30%;">
                            <%--<asp:TextBox runat="server" AutoCompleteType="Enabled" ID="dtEnd" CssClass="datepicker"></asp:TextBox>--%>
                            <asp:TextBox runat="server" AutoCompleteType="Disabled" ID="dtEnd" CssClass="datepicker"></asp:TextBox>
                            <asp:Label ID="lblwardate" runat="server" Font-Names="verdana"
                                Font-Size="X-Small" ForeColor="Red"
                                Style="font-family: verdana, Arial, tahoma, san-serif; font-size: 11px;"
                                Visible="False"></asp:Label>
                        </td>
                    </tr>
                </table>
                <table class="formTable">
                    <tr>
                        <td align="right">
                            <asp:UpdatePanel runat="server" ID="upButton" UpdateMode="Conditional" ChildrenAsTriggers="false">
                                <ContentTemplate>
                                    <asp:LinkButton runat="server" ID="lb_Print_Sync" CssClass="btnForm" Text="Print Synchronously"
                                        OnClick="lb_Print_Sync_Click"></asp:LinkButton>
                                    <asp:LinkButton runat="server" ID="lbReset" Text="RESET" CssClass="buttonComp" OnClick="lbReset_Click"
                                        CausesValidation="false"></asp:LinkButton>
                                </ContentTemplate>
                            </asp:UpdatePanel>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</body>
</html>
