﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SalesMyCash.aspx.cs" Inherits="MPMFInternalR2.Web.ReportPages.MPMFCust_SalesMyCash.SalesMyCash" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: 'dd/mm/yy'
            });
        });
    </script>
</head>
<body>
    <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePartialRendering="False">
    </asp:ScriptManager>
    <form id="form1" runat="server">
        <div>
            <asp:UpdatePanel runat="server" ID="upPath" UpdateMode="Conditional">
                <ContentTemplate>
                    <div id="linkPath">
                        <asp:Label runat="server" ID="lblPath" Text=""></asp:Label>
                    </div>
                </ContentTemplate>
            </asp:UpdatePanel>
            <asp:UpdatePanel runat="server" ID="upToolbar" UpdateMode="Conditional">
                <ContentTemplate>
                    <div id="toolbar">
                        <span>
                            <label id="pageTitle">Report My Cash </label>
                        </span>
                        <span id="toolMenuContainer"></span>
                    </div>
                </ContentTemplate>
            </asp:UpdatePanel>
            <br />
            <br />
            <br />
            
        <div id="dPDCReceive">
            <div class="subSection">
                <a href="javascript:ExpandUnexpandMenu('minSearchForm','dSearchForm', 'ucReportSearch_UCSubSectionContainer1_subSectionID')" id="minSearchForm" style="color: rgb(0, 0, 0);">[-]</a>
                <span id="ucReportSearch_UCSubSectionContainer1_subSectionID" style="color: rgb(0, 0, 0);">Search</span>
            </div>
            <div id="dSearchForm">
                <table id="ucReportSearch_tblFixedSearch" class="formTable">
                    <tr>
                        <td class="tdDesc">Branch</td>
                        <td class="tdValue">
                            <asp:DropDownList ID="ddlbranch" runat="server">
                            </asp:DropDownList>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdDesc">Date</td>
                        <td class="tdValue">
                            <asp:TextBox runat="server" AutoCompleteType="Enabled" ID="dtStart" CssClass="datepicker"></asp:TextBox>
                        </td>
                        <td class="tdDesc">To</td>
                        <td class="tdValue">
                            <asp:TextBox runat="server" AutoCompleteType="Enabled" ID="dtEnd" CssClass="datepicker"></asp:TextBox>
                            <asp:Label ID="lblwardate" runat="server" Font-Names="verdana"
                                Font-Size="X-Small" ForeColor="Red"
                                Style="font-family: verdana, Arial, tahoma, san-serif; font-size: 11px;"
                                Visible="False">* Please check start and end dates</asp:Label>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdDesc">Asset Type</td>
                        <td class="tdValue">
                            <asp:DropDownList ID="ddlassettype" runat="server">
                            </asp:DropDownList>
                        </td>
                    </tr>
                    <tr>
                    <td class="tdDesc">Report Type</td>
                    <td class="tdValue">
                        <asp:DropDownList ID="ddlReportType" runat="server">
                            <asp:ListItem Selected="True" Value="CreditOfficer">Credit Officer</asp:ListItem>
                            <asp:ListItem Value="MarketingOfficer">Marketing Officer</asp:ListItem>
                            <asp:ListItem Value="Outlet">Outlet</asp:ListItem>
                        </asp:DropDownList>
                    </td>
                    </tr>
                </table>
                <table class="formTable">
                    <tr>
                        <td align="right">
                            <asp:UpdatePanel runat="server" ID="upButton" UpdateMode="Conditional" ChildrenAsTriggers="false">
                                <ContentTemplate>
                                    <asp:LinkButton runat="server" ID="lb_Print_Sync" CssClass="btnForm" Text="Print Synchronously"
                                        OnClick="lb_Print_Sync_Click"></asp:LinkButton>
                                    <asp:LinkButton runat="server" ID="lbReset" Text="RESET" CssClass="buttonComp" OnClick="lbReset_Click"
                                        CausesValidation="false"></asp:LinkButton>
                                </ContentTemplate>
                            </asp:UpdatePanel>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
    </form>
</body>
</html>
