﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="LapPengaduanPerMasaLaporanView.aspx.cs" Inherits="MPMFInternalR2.Web.ReportPages.LapPengaduanPerMasaLaporan.LapPengaduanPerMasaLaporanView" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePartialRendering="False"></asp:ScriptManager>
    <form id="form1" runat="server">
        <div>
            <rsweb:ReportViewer ID="ReportViewer1" Height="800px" Width="100%" runat="server"></rsweb:ReportViewer>
        </div>
    </form>
</body>
</html>
