﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RptDetailAgingView.aspx.cs" Inherits="MPMFInternalR2.Web.ReportPages.DetailAgingAR.RptDetailAgingView" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePartialRendering="False"></asp:ScriptManager>
    <form id="form1" runat="server">
        <div>
            <rsweb:reportviewer id="ReportViewer1" height="800px" width="100%" runat="server"></rsweb:reportviewer>
        </div>
    </form>
</body>
</html>
